<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>503871040285-iqe8lgemmuac7rt9b224fve28jv2o5qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503871040285-iqe8lgemmuac7rt9b224fve28jv2o5qu</string>
	<key>API_KEY</key>
	<string>AIzaSyCzPXqWFTpZx51TRMp7KLSM7xcrJwPcjhU</string>
	<key>GCM_SENDER_ID</key>
	<string>503871040285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clubrowfitness.app</string>
	<key>PROJECT_ID</key>
	<string>clubrow</string>
	<key>STORAGE_BUCKET</key>
	<string>clubrow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503871040285:ios:14e351edb4ca7d17</string>
	<key>DATABASE_URL</key>
	<string>https://clubrow.firebaseio.com</string>
</dict>
</plist>